#js-hide {
  display: none;
}
/*#op-hide {
  display: none;
}
#var-hide {
  display: none;
}
#vnc-hide {
  display: none;
}
#fn-hide {
  display: none;
}
#meth-hide {
  display: none;
}
#arg-hide {
  display: none;
}
#par-hide {
  display: none;
}
#re-hide {
  display: none;
}
#chain-hide {
  display: none;
}
#string-hide {
  display: none;
}
#boo-hide {
  display: none;
}
#unde-hide {
  display: none;
}
#nan-hide {
  display: none;
}
#esc-hide {
  display: none;
}
#alert-hide {
  display: none;
}
#com-hide {
  display: none;
}
#jq-hide {
  display: none;
}
#att-hide {
  display: none;
}*/
